.topbar {
    background-color: black;
    color: white;
    font-family: Helvetica;
    overflow: hidden;
}

.container {
    display: inline-block;
    cursor: pointer;
}

body 
{
margin: 0;
}

html, body, #map
{
height: 100%;
}

#map
{
width: 100%;
height: 90%;
}
